@import "~bootstrap";

.hidden {
    display: none;
}

.form-inline .form-group.input {
    flex-direction: column;
}

.autocomplete {
    display: none;
    position: absolute;
    top: 57px;
    left: 19px;
    z-index: 10;
    background-color: white;
    width: 227px;
    border: 1px solid #ced4da;
    border-radius: 5px;

    ul {
        margin: 10px 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        padding: 5px 10px;
        &:hover {
            background-color: #e9ecef;
            cursor: pointer;
        }
    }
}
